<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">


	<test name="IndeedTest">

		<parameter name="url"
			value="https://www.indeed.com/" />
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testnghw.IndeedTest" />
		</classes>
	</test>


	<test name="GoogleTest">
		<parameter name="url" value="https://www.google.com/"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="testngsessions.GoogleTest" />
		</classes>
	</test>


	<test name="StaplesTest">
		<parameter name="url"
			value="https://www.staples.com/" />
		<parameter name="browser" value="edge" />
		<!-- <parameter name="headless" value="false" />-->


		<classes>
			<class name="testnghw.StaplesTest" />
		</classes>
	</test>


</suite> 
